.modalDiv {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: auto;
  height: 600px;
  /* background-color: white; */
  background-color: #0a222d;
  border-radius: 5px;
  overflow-y: scroll;
}
.modal h3 {
  color: black;
}
.modal p {
  color: red;
}
